{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        MODIFICATION D'UNE SESSION
    {% else %}
        AJOUT D'UNE SESSION  
    {% endif %}
{% endblock %}
    
{% block body %}
    {% if edit %}
        <h1>Modification d'une session</h1>
    {% else %}
        <h1>Ajout d'une session</h1>   
    {% endif %}


{{ form_start(formAddSession) }}

    <div>   
        <p class="inputLine">{{ form_label(formAddSession.intitule) }}</p>
        <p class="inputLine">{{ form_widget(formAddSession.intitule) }}</p>
    </div>
    </div>
    <div class="inputAside">
        <div>   
            <p class="inputLine"> {{ form_label(formAddSession.dateDebut) }}</p>
            <p class="inputLine"> {{ form_widget(formAddSession.dateDebut) }}</p>
        </div>
        <div>
            <p class="inputLine">{{ form_label(formAddSession.dateFin) }}</p>
            <p class="inputLine">{{ form_widget(formAddSession.dateFin) }}</p>
        </div>
    </div>
    <div>   
        <p class="inputLine">{{ form_label(formAddSession.placeTotal) }}</p>
        <p class="inputLine">{{ form_widget(formAddSession.placeTotal) }}</p>
    </div>
    <div>   
        <p class="inputLine">{{ form_label(formAddSession.formateur) }}</p>
        <p class="inputLine">{{ form_widget(formAddSession.formateur) }}</p>
    </div>
    <div>
        <p class="inputLine">{{ form_widget(formAddSession.submit) }}</p>
    </div>
{{ form_end(formAddSession) }}
{% endblock %}