{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
            MODIFICATION D'UN MODULE
        {% else %}
            AJOUT D'UN MODULE
        {% endif %} 
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'un module</h1>
    {% else %}
        <h1>Ajout d'un module </h1>    
    {% endif %}
    


{{ form_start(formAddModule) }}
    <div>   
        <p class="inputLine">{{ form_label(formAddModule.nomModule) }}</p>
        <p class="inputLine">{{ form_widget(formAddModule.nomModule) }}</p>
    </div>
    <div>   
        <p class="inputLine">{{ form_label(formAddModule.categorie) }}</p>
        <p class="inputLine">{{ form_widget(formAddModule.categorie) }}</p>
    </div>
    <div>
        <p class="inputLine">{{ form_widget(formAddModule.submit) }}</p>
    </div>
{{ form_end(formAddModule) }}
{% endblock %}