<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>

    <body>
       

    {# barre de connexion #}
        {% if app.user %}
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Deconnexion</a>
                    </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('app_admin') }}">Administrateur</a>
                    </li>          
                {% endif %}
                    <li>
                        <a href="{{ path('app_profil') }}">Mon profil <i class="fa-solid fa-user"></i></a>
                    </li>
                </ul>
            </nav>
            
    {# barre de navigation #}
            <nav class="navbar">
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_categorie') }}">Categories</a></li>
                    <li><a href="{{ path('app_formateur') }}">Formateurs</a></li>
                    <li><a href="{{ path('app_stagiaire') }}">Stagiaires</a></li>
                    <li><a href="{{ path('app_session') }}">Sessions</a></li>
                </ul>
            </nav>

        {% else %}

            <nav>
                <ul>
                    <li>
                        <a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a>
                    </li>
                    <li>
                        <a href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                </ul>
            </nav>

            <nav class="navbar">
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_categorie') }}">Categories</a></li>
                    <li><a href="{{ path('app_session') }}">Sessions</a></li>
                </ul>
            </nav>
         
        
        {% endif %}

        

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
