{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        MODIFICATION D'UNE CATEGORIE
    {% else %}
        AJOUT D'UNE CATEGORIE
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'une catégorie</h1>
    {% else %}
        <h1>Ajout d'une catégorie</h1>
    {% endif %}
    

    {# {{ form(formAddCategorie) }} #}

    {{ form_start(formAddCategorie) }}
    <div>   
        <p class="inputLine">{{ form_label(formAddCategorie.nomCategorie) }}</p>
        <p class="inputLine">{{ form_widget(formAddCategorie.nomCategorie) }}</p>
    </div>
    <div>
        <p class="inputLine">{{ form_widget(formAddCategorie.submit) }}</p>
    </div>
    {{ form_end(formAddCategorie) }}
{% endblock %}