{% extends 'base.html.twig' %}

{% block title %}CATEGORIE{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    {% if is_granted('ROLE_ADMIN') %}     
    <p>
        <button class="addButton">
            <a href=" {{ path('add_categorie') }} ">Ajouter un catégorie</a>
        </button>
    </p>
    {% endif %}


    {# utilisation d'un for pour afficher un tableau qu'on récupère #}
    {# categories -> éléments du controller qu'on récupère #}
    <table>
        <thead>
            <tr>
                <th>CATEGORIE</th>
            {% if is_granted('ROLE_ADMIN') %}  
                <th>OPTIONS</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                    <td><a href="{{ path('show_categorie', {'id': categorie.id})}}">{{ categorie.nomCategorie }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('edit_categorie', {'id': categorie.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> 
                        <a href="{{ path('delete_categorie', {'id': categorie.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                        
                {% endif %}
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
