{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        MODIFICATION D'UN FORMATEUR
    {% else %}
        AJOUT D'UN FORMATEUR
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'un formateur</h1>
    {% else %}
        <h1>Ajout d'un formateur</h1>
    {% endif %}

    
    {{ form_start(formAddFormateur) }}
    <div class="inputAside">
        <div>   
            <p class="inputLine">{{ form_label(formAddFormateur.nom) }}</p>
            <p class="inputLine">{{ form_widget(formAddFormateur.nom) }}</p>
        </div>
        <div>
            <p class="inputLine">{{ form_label(formAddFormateur.prenom) }} </p>
            <p class="inputLine">{{ form_widget(formAddFormateur.prenom) }}</p>   
        </div>

    </div>
    <div class="inputAside">
        <div>   
            <p class="inputLine"> {{ form_label(formAddFormateur.phone) }}</p>
            <p class="inputLine"> {{ form_widget(formAddFormateur.phone) }}</p>
        </div>
        <div>
            <p class="inputLine">{{ form_label(formAddFormateur.email) }}</p>
            <p class="inputLine">{{ form_widget(formAddFormateur.email) }}</p>
        </div>
    </div>
    <div>
        <p class="inputLine">{{ form_widget(formAddFormateur.submit) }}</p>
    </div>
    {{ form_end(formAddFormateur) }}
{% endblock %}