{% extends 'base.html.twig' %}

{% block title %}FORMATEUR{% endblock %}

{% block body %}
    <h1>Liste des formateurs</h1>

    <p><button class="addButton"><a href=" {{ path('add_formateur') }} ">Ajouter un formateur</a></button></p>


    {# utilisation d'un for pour afficher un tableau qu'on récupère #}
    {# formateurs -> éléments du controller qu'on récupère #}
    <table>
        <thead>
            <tr>
                <th>FORMATEUR</th>
                <th>MAIL</th>
                <th>TELEPHONE</th>
                <th>OPTIONS</th>     
            </tr>
        </thead>
        <tbody>
            {% for formateur in formateurs %}
                <tr>
                    <td>{{ formateur.prenom ~' '~ formateur.nom }}</td>
                    <td>{{ formateur.email }}</td>
                    <td>{{ formateur.phone }}</td>
                    <td>
                        <a href="{{ path('edit_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> 
                        <a href="{{ path('delete_formateur', {'id': formateur.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}